@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,700&display=swap');

html, body {
  font-family: 'Bricolage Grotesque', sans-serif;
  height: -webkit-fill-available;
}

#app {
  font-family: 'Bricolage Grotesque', sans-serif;
  height: -webkit-fill-available;
  background-color: rgb(107 175 255);
}

html {
  body {
    width: 100%;
    margin: 0;
  }
}
.v-layout, .v-main, .main-container {
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
}

.title {
  font-size: 20px;
  font-weight: 700;
}
