@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,700&display=swap');

html, body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

#app {
  font-family: 'Bricolage Grotesque', sans-serif;
}

html {
  height: -webkit-fill-available;
  body {
    width: 100%;
    height: -webkit-fill-available;
    margin: 0;
  }
}
.main-container {
  height: 100%;
}

a {
  text-decoration: none;
}

.title {
  font-size: 20px;
  font-weight: 700;
}
